@tailwind base;
@tailwind components;
@tailwind utilities;

/*
|------------------------------------------
|  Global
|------------------------------------------
*/

body {
    @apply bg-bgColor text-primaryColor overflow-x-hidden;
}

img {
    @apply w-full h-full object-cover object-center;
}

.section-heading {
    @apply text-2xl font-medium pb-6;
}

.sections {
    @apply py-6 px-4 m-auto overflow-x-hidden;
    @apply md:w-9/12 md:p-0 md:pb-24;
}

.slider-text {
    @apply absolute bottom-0 left-0 bg-secondaryColor w-full p-2 opacity-90;
    @apply md:p-4;
}
   
.slider-text h3 {
    @apply text-base md:text-lg;
    @apply lg:text-xl font-medium;
}
   
.slider-text p {
    @apply text-xs font-light;
    @apply md:text-base;
}

/*
|------------------------------------------
|  Header / Search Bar
|------------------------------------------
*/

header {
    @apply bg-transparent;
}

.nav-container {
    @apply py-6 px-4 max-w-full m-auto;
    @apply md:w-9/12 md:px-0 md:flex md:justify-between md:items-center;
}

.nav-items {
    @apply flex justify-between pb-6;
    @apply md:pb-0 lg:items-center;
}

.nav-container h1 {
    @apply text-xl font-bold text-secondaryColor  lowercase ;
    @apply md:text-3xl md:pr-12;
}

.nav-container ul {
    @apply flex items-center;
}

.nav-container ul li{
    @apply text-sm px-2  font-light transition ease-in-out hover:text-secondaryColor hover:font-medium;
    @apply lg:p-4 lg:text-base;
}

.search {
    @apply relative h-12;
}

.search-input {
   @apply bg-primaryColor border-0 text-base p-2 h-12 w-12 text-secondaryColor rounded-full;
   transition: width 0.3s ease;
}

.submit-btn {
  @apply bg-secondaryColor text-primaryColor text-2xl absolute top-0 left-0 h-12 w-12 rounded-full;
  transition: transform 0.3s ease;
}

.submit-btn:focus,
.search-input:focus {
    @apply outline-none;
}

.search.active .search-input {
    @apply w-52;
}

.search.active .submit-btn {
    transform: translateX(215px);
}

/*
|------------------------------------------
|  Hero Banner and Swiper
|------------------------------------------
*/

.hero-banner {
 @apply py-6 px-4 m-auto;
 @apply md:w-9/12 md:p-0 md:pb-24;
}

.hero-swiper {
    @apply lg:w-[80%] lg:h-[500px];
    @apply xl:h-[600px] xl:w-[88%];
}

.hero-wrapper {
    @apply relative;
}

.hero-text {
    @apply absolute bottom-0 left-0 bg-secondaryColor w-full p-2 opacity-90;
    @apply md:p-4;
}

.hero-text h3 {
    @apply text-base md:text-lg;
    @apply lg:text-xl font-medium;
}

.hero-text p {
    @apply text-xs font-light;
    @apply md:text-base;
}

.soon-container {
    @apply flex flex-col items-center pt-6; 
    @apply lg:flex-none lg:w-[20%] lg:pl-6 lg:m-auto lg:pt-0;
    @apply xl:w-[12%]
}

.soon-card {
    @apply mx-2;
    @apply lg:mx-0 lg:mb-6;
}

.soon-card img {
    @apply mb-2 h-[150px] object-cover object-center;
}

.soon-card p {
    @apply text-xs;
    @apply lg:text-base; 
}

/*
|------------------------------------------
|  Trending Movies &  Trending Shows
|------------------------------------------
*/
   
.trending-swiper {
    @apply h-[350px];
}
   
.trending-wrapper {
    @apply relative;
}
   

/*
|------------------------------------------
|  Now playing
|------------------------------------------
*/

.playing-swiper {
    @apply h-[400px];
}

.trending-wrapper {
    @apply relative;
}